@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide the scrollbar but still allow scrolling */
.noScrollBar {
  overflow: -moz-scrollbars-none; /* For Firefox */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}

.noScrollBar::-webkit-scrollbar { /* For WebKit browsers */
  display: none;
}
